.page {
  display: flex;  
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  min-height: 98vh;
}
.characters-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
}
